<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main.html">
<div layout:fragment="content">
  <div class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h3 class="m-0 text-dark"><small th:text = "#{label.mainPage}"></small></h3>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a th:href="@{'/'}" th:text = "#{label.mainPage}"></a></li>
            <li class="breadcrumb-item active" th:text = "#{label.mainPage}"></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Объявление</h5>
              <p class="card-text">
                Текст объявления
              </p>
              <a href="#" class="card-link">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>