<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main.html">
<div layout:fragment="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3 class="m-0 text-dark"><small>Главная страница</small></h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a th:href="@{'/'}">Главная</a></li>
                        <li class="breadcrumb-item"><a th:href="@{'/executorpolitical/businesstrips'}">Оформление на
                            командировку</a></li>
                        <li class="breadcrumb-item"><a th:href="@{'/executorpolitical/createbusinesstrip'}">Заявление на
                            командирование</a></li>
                        <li class="breadcrumb-item active">Заявление</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-header">
                            <h5><span th:text="${user.lastName}"></span></h5>
                            <h5><span th:text="${user.firstName}"></span></h5>
                            <h5><span th:text="${user.middleName}"></span></h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text mt-3">
                                <a th:href="@{'/executorpolitical/processlist'}" class="btn btn-flat btn-primary"
                                   style="width: 100%;">План мероприятий</a>
                                <br>
                                <br>
                                <a th:href="@{'/executorpolitical/businesstrips'}" class="btn btn-flat btn-primary"
                                   style="width: 100%;">Оформление на командировку</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h5>Заявление на заграничную командировку</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="height:500px;overflow:auto;">
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>
                                                Ф.И.О.
                                            </th>
                                            <th>
                                                Должность
                                            </th>
                                            <th>
                                                Гос. служащий
                                            </th>
                                            <th>
                                                Выездной
                                            </th>
                                            <th>
                                                Наличие долгов
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="usrData : ${userDataList}">
                                            <td>
                                                <span th:text="${usrData.fioData}"></span>
                                            </td>
                                            <td>
                                                <span th:text="${usrData.position}"></span>
                                            </td>
                                            <td>
                                                <span th:text="${usrData.gosServant?'Да':'Нет'}"></span>
                                            </td>
                                            <td>
                                                <span th:text="${usrData.abroadable?'Да':'Нет'}"></span>
                                            </td>
                                            <td>
                                                <span th:text="${usrData.hasDebts?'Да':'Нет'}"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-sm-3">
                                    <label class="mt-1">Характер поездки</label>
                                </div>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control bg-light" id="tripCharacterFieldId"
                                           th:value="${businessTrip.tripCharacter}" name="trip_character"
                                           placeholder="Характер поездки">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-3">
                                    <label class="mt-1">Цель визита</label>
                                </div>
                                <div class="col-sm-8">
                                    <form th:action="@{'/executorpolitical/deletepurposefrombusinesstrip'}"
                                          th:each="purpose : ${businessTrip.businessTripPurposes}" method="post">
                                        <div class="row">
                                            <div class="col-11">
                                                <input readonly type="text" class="form-control bg-light" name="trip_purpose"
                                                       th:value="${purpose.purpose}">
                                                <input type="hidden" name="business_trip_id"
                                                       th:value="${businessTrip.id}">
                                                <input type="hidden" name="purpose_id" th:value="${purpose.id}">
                                                <input type="hidden" name="@{_csrf.parameterName}"
                                                       value="@{_csrf.token}"/>
                                            </div>
                                            <div class="col-1">
                                                <button th:style="'display: ' + ${T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_POLITICAL_EXECUTOR == businessTrip.stage ? 'block' : 'none'}"
                                                        type="submit"
                                                        class="btn btn-danger btn-sm mt-1"><i
                                                        class="far fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <form th:if="${T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_POLITICAL_EXECUTOR == businessTrip.stage}"
                                          th:action="@{'/executorpolitical/savepurposetobusinesstrip'}" method="post">
                                        <div class="row">
                                            <div class="col-11">
                                                <input th:readonly="${T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_POLITICAL_EXECUTOR != businessTrip.stage}"
                                                       type="text" class="form-control" name="trip_purpose">
                                                <input type="hidden" name="business_trip_id"
                                                       th:value="${businessTrip.id}">
                                                <input type="hidden" name="@{_csrf.parameterName}"
                                                       value="@{_csrf.token}"/>
                                            </div>
                                            <div class="col-1">
                                                <button th:style="'display: ' + ${T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_POLITICAL_EXECUTOR == businessTrip.stage ? 'block' : 'none'}"
                                                        type="submit"
                                                        class="btn btn-success btn-sm mt-1"><i
                                                        class="far fa-plus-square"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-3">
                                    <label class="mt-1">Основание</label>
                                </div>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control bg-light" id="tripProofFieldId"
                                           th:value="${businessTrip.businessTripProof}" name="trip_proof"
                                           placeholder="Основание">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-3">
                                    <label class="mt-1">Маршрут</label>
                                </div>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control bg-light" style="background-color: white;"
                                           th:if="${#lists.isEmpty(businessTripRouteDataList)}">
                                    <div th:each="routeData : ${businessTripRouteDataList}" style="margin-bottom: 5px;">
                                        <input readonly type="text" class="form-control bg-light"
                                               style="background-color: white;"
                                               th:value="${routeData.businessTripRoute.routeName}">
                                        <div class="row mt-2">
                                            <div class="col-sm-4">
                                                <label class="mt-1">Период</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <input readonly type="text" style="background-color: white;"
                                                       class="form-control"
                                                       th:value="${'С ' + #dates.format(routeData.dateFrom, 'dd-MM-yyyy') + ', ' + routeData.timeFrom + ' по ' + #dates.format(routeData.dateTo, 'dd-MM-yyyy') + ' ' + routeData.timeTo}">
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-sm-4">
                                                <label class="mt-1">Количество дней</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <input readonly type="number" class="form-control"
                                                       th:value="${routeData.daysAmount}"
                                                       th:id="${'routeDataDays' + routeData.id}">
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-sm-12">
                                                <input readonly type="checkbox" onclick="return false"
                                                       style="margin-right:10px;"
                                                       th:id="${'routeDataDaily' + routeData.id}"
                                                       th:checked="${routeData.daily}">
                                                <label>Суточные</label>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-sm-12">
                                                <input readonly type="checkbox" onclick="return false"
                                                       style="margin-right:10px;"
                                                       th:id="${'routeDataOneDay' + routeData.id}"
                                                       th:checked="${routeData.oneDay}">
                                                <label>Один день</label>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-sm-12">
                                                <input readonly type="checkbox" onclick="return false"
                                                       style="margin-right:10px;"
                                                       th:id="${'routeDataResidence' + routeData.id}"
                                                       th:checked="${routeData.residence}">
                                                <label>Проживание</label>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-sm-12">
                                                <input readonly type="checkbox" onclick="return false"
                                                       style="margin-right:10px;"
                                                       th:id="${'routeDataTransport' + routeData.id}"
                                                       th:checked="${routeData.transport}">
                                                <label>Транспорт</label>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-3">
                                    <label>Города посещения</label>
                                </div>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control bg-light" style="background-color: white;"
                                           th:if="${#lists.isEmpty(businessTrip.businessTripCities)}">
                                    <div th:each="cit : ${businessTrip.businessTripCities}" style="margin-bottom: 5px;">
                                        <input readonly type="text" class="form-control bg-light"
                                               style="background-color: white;" th:value="${cit.cityName}">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    <input readonly type="checkbox" onclick="return false" value="true"
                                           style="margin-right:10px;" id="officialPresidentDelegationCheckBoxId"
                                           th:checked="${businessTrip.isOfficialDelegationWithPresident}">
                                    <label>Официальная поездка делегации во главе Президента</label>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    <input readonly type="checkbox" onclick="return false" value="true"
                                           style="margin-right:10px;" id="inviterExpenseCheckBoxId"
                                           th:checked="${businessTrip.isAtTheExpenseOfInvitingParty}">
                                    <label>За счёт средств приглашающей стороны</label>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    <input readonly type="checkbox" onclick="return false" value="true"
                                           style="margin-right:10px;" id="visaCheckBoxId"
                                           th:checked="${businessTrip.isVisa}">
                                    <label>Виза</label>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-3">
                                    <label class="mt-1">Обоснование сроков нахождения</label>
                                </div>
                                <div class="col-sm-8">
                                        <textarea readonly style="width: 100%;" rows="5"
                                                  placeholder="Не менее 1000 символов" class="form-control"
                                                  id="tripTermProofFieldId"
                                                  th:text=${businessTrip.businessTripTermProof}
                                                  name="trip_proof"></textarea>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-3">
                                    <label class="mt-1">Забронированные билеты</label>
                                </div>
                                <div class="col-sm-8" th:if="${businessTrip.ticketFile != null}">
                                    <a class="btn btn-primary btn-sm"
                                           th:href="@{'/downloadticket/' + ${businessTrip.ticketFile}}">Скачать билеты</a>
                                </div>
                                <div class="col-sm-8" th:if="${businessTrip.ticketFile == null}">
                                    <a class="btn btn-secondary btn-sm" readonly="true"> Билеты не прикреплены</a>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-3">
                                    <label class="mt-1">Тип паспорта</label>
                                </div>
                                <div class="col-sm-8">
                                    <select disabled class="form-control" name="passport_type"
                                            id="passportTypeSelectorId">
                                        <option value="1" th:selected="${businessTrip.passportType == 1}">
                                            Дипломатический
                                        </option>
                                        <option value="2" th:selected="${businessTrip.passportType == 2}">Служебный
                                        </option>
                                        <option value="3" th:selected="${businessTrip.passportType == 3}">Обычный
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-3">
                                    <label class="mt-1">Название программы: </label>
                                </div>
                                <div class="col-sm-6">
                                    <input readonly type="checkbox" onclick="return false" value="true"
                                           class="mr-1 mt-1" id="isForeign005CheckBoxId"
                                           th:checked="${businessTrip.isForeign005}">
                                    <label class="mt-1">005 «Заграничные командировки»</label>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-3">
                                    <label class="mt-1">Выбор мероприятий: </label>
                                </div>
                                <div class="col-sm-6">
                                    <input readonly type="radio" onclick="return false" value="true"
                                           th:checked="${businessTrip.isEventPlan != null && businessTrip.isEventPlan}"
                                           class="mr-1 mt-2" name="plan_choice_name" id="by_plan_id">
                                    <label class="mt-1">«По плану мероприятий»</label>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-6 offset-3">
                                    <input readonly type="radio" onclick="return false" value="true"
                                           th:checked="${businessTrip.isEventPlan != null && !businessTrip.isEventPlan}"
                                           class="mr-1 mt-2" name="plan_choice_name" id="by_without_plan_id">
                                    <label class="mt-1">«Вне плана мероприятий»</label>
                                </div>
                            </div>
                            <div id="by_without_plan_div_id"
                                 th:style="${businessTrip.isEventPlan == null || businessTrip.isEventPlan ? 'display : none;' : 'display : block;'}">
                                <div class="row mt-3">
                                    <div class="col-sm-3">
                                        <label class="mt-1">Обоснование</label>
                                    </div>
                                    <div class="col-sm-8">
                                            <textarea readonly style="width: 100%;" rows="5"
                                                      placeholder="Не менее 1000 символов" class="form-control"
                                                      id="withoutEventProofFieldId"
                                                      th:text=${businessTrip.withoutEventProof}
                                                      name="without_event_proof"></textarea>
                                    </div>
                                </div>
                                    <div class="row mt-3" th:if="${businessTrip.proofFile != null}">
                                        <div class="col-sm-2 offset-3">
                                            <a class="btn btn-primary btn-sm"
                                               th:href="@{'/downloadwithouteventproof/' + ${businessTrip.proofFile}}">Скачать обоснование</a>
                                        </div>
                                    </div>
                            </div>
                            <div th:style="${businessTrip.isEventPlan == null || !businessTrip.isEventPlan ? 'display : none;' : 'display : block;'}"
                                 id="by_plan_div_id">
                                <div class="row mt-3">
                                    <div class="col-sm-3">
                                        <label class="mt-1">Выбор плана мероприятии</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <table class="table" style="width:100%;">
                                            <thead>
                                            <tr>
                                                <th colspan="2">
                                                    Организация
                                                </th>
                                                <th>
                                                    Дата запуска
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="mainProcess : ${mainProcesses}">
                                                <td>
                                                    <input readonly
                                                           th:checked="${businessTrip.process!=null && businessTrip.process.id == mainProcess.id}"
                                                           type="radio" onclick="return false" name="plan_id"
                                                           th:id="'event-' + ${mainProcess.id}">
                                                </td>
                                                <td th:text=${mainProcess.organization.name}>
                                                </td>
                                                <td th:text=${mainProcess.createdAt}>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-3">
                                    <label class="mt-1">Политический исполнитель</label>
                                </div>
                                <div class="col-sm-8">
                                    <input th:if="${businessTrip.executor != null}" readonly type="text" class="form-control bg-light"
                                           th:value="${businessTrip.executor.firstName} + ' ' + ${businessTrip.executor.middleName}">
                                </div>
                            </div>
                            <div  class = "mb-3" th:if="${businessTrip.attachment6Created != null}">
                                <a href="#">Приказ</a>
                            </div>
                            <div class="form-group" th:if="${
                                T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_POLITICAL_EXECUTOR == businessTrip.stage
                                || (T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_MID_SECRETARY_SIGNED == businessTrip.stage)
                                }">
                                <form th:action="@{'/executorpolitical/signbusinesstrip'}" method="post"
                                      id="signBusinessTripFormId">
                                    <input type="hidden" name="business_trip_id" th:value="${businessTrip.id}">
                                    <button class="btn btn-flat btn-primary" th:if="${
                                    T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_POLITICAL_EXECUTOR == businessTrip.stage
                                    || (T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_MID_SECRETARY_SIGNED == businessTrip.stage
                                        && businessTrip.attachment6Created != null)
                                    }" onclick="if(!confirm('Подписать?')){return false}">
                                        Подписать
                                    </button>
                                    <button class="btn btn-flat btn-primary"
                                            th:if="${T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_MID_SECRETARY_SIGNED == businessTrip.stage
                                            && businessTrip.attachment6Created == null} "
                                            onclick="if(!confirm('Создать приказ')){return false}">
                                        Создать приказ
                                    </button>
                                </form>
                            </div>

                            <div class="form-group" th:if="${
                                T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_POLITICAL_EXECUTOR == businessTrip.stage
                                || (T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_MID_SECRETARY_SIGNED == businessTrip.stage)
                                }">
                                <form th:action="@{'/executorpolitical/modifybusinesstrip'}" method="post"
                                      id="modifyBusinessTripFormId">
                                    <input type="hidden" name="business_trip_id" th:value="${businessTrip.id}">
                                    <button class="btn btn-flat btn-danger"
                                            onclick="if(!confirm('Отправить на доработку?')){return false}">На доработку
                                    </button>
                                </form>
                            </div>
                            <button disabled class="btn btn-flat btn-primary"
                                    th:if="${
                                    T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_POLITICAL_EXECUTOR != businessTrip.stage
                                    && T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_MID_SECRETARY_SIGNED != businessTrip.stage}">
                                Подписано
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>