<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main.html">
    <div layout:fragment="content">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h3 class="m-0 text-dark"><small>Главная страница</small></h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{'/'}">Главная</a></li>
                            <li class="breadcrumb-item active">Оформление паспорта</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <h5><span th:text = "${user.lastName}"></span></h5>
                                <h5><span th:text = "${user.firstName}"></span></h5>
                                <h5><span th:text = "${user.middleName}"></span></h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text mt-3">
                                    <a th:href = "@{'/supervisorgo/processlist'}" class="btn btn-flat btn-primary" style="width: 100%;">План мероприятий</a>
                                    <br>
                                    <br>
                                    <a th:href = "@{'/supervisorgo/businesstrips'}" class="btn btn-flat btn-primary" style="width: 100%;">Оформление на командировку</a>
                                    <br>
                                    <br>
                                    <a th:href = "@{'/supervisorgo/passports'}" class="btn btn-flat btn-primary" style="width: 100%;">Оформление паспорта</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="card">
                            <div class="card-header">
                                <h5>Оформление паспорта</h5>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Характер поездки
                                            </th>
                                            <th>
                                                Заявитель
                                            </th>
                                            <th>
                                                Департамент
                                            </th>
                                            <th>
                                                Статус
                                            </th>
                                            <th>
                                                Просмотр
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <form th:action="@{'/supervisorgo/combinebusinesstrip'}" method="post"
                                          id="process_list_form_id">
                                        <tr th:each="request: ${passportRequests}">
                                            <td th:text="${request.businessTrip.tripCharacter}">
                                            </td>
                                            <td th:text="${request.businessTrip.creator.firstName} + ' ' + ${request.businessTrip.creator.lastName}">
                                            </td>
                                            <td th:text="${request.businessTrip.creator.firstName}">
                                            </td>
                                            <td th:text="${T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).passportRequestStageRoles.get(request.stage)}">
                                            </td>
                                            <td>
                                                <a th:href="@{'/supervisorgo/readpassportrequest/' + ${request.id}}"
                                                   class="btn btn-info btn-sm">Детали</a></td>
                                            </td>
                                            </tr>
                                            <input type="hidden" name="uncombine_process_id" id="uncombine_process_id">
                                        </form>
                                    </tbody>
                                </table>
                                <br>
                            </div>
                            <div class="card-footer clearfix">
                                <th:block th:each = "id : ${#numbers.sequence(1, pageCount)}">
                                    <a class="btn btn-info btn-sm btn-flat" th:classappend="${id}==${#request.getParameter('page')} ? 'active': '' " th:href="@{/supervisorgo/processlist(page=${id})}" th:text = "${id}"></a>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>