<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main.html">
<div layout:fragment="content">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" class="header-link breadcrumb-item-link">Главная</a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{'/zayavitelgo/businesstrips'}">Оформление на
                    командировку</a>
            </li>
            <li class="breadcrumb-item active">
                <p>Заявление</p>
            </li>
        </ul>

        <section class="section">
            <div class="section-header">
                <a href="#" class="btn back">Назад</a>
                <h1 class="section-header-title">Оформить заявление</h1>
            </div>
            <div class="section-body">
                <div class="section-body-container bottom-border">
                    <h2 class="heading">Участники</h2>
                    <div class="members-list">
                        <div class="members-list-member" th:each="usrData : ${userDataList}" th:data-z-index="${userDataList.size() - userDataList.indexOf(usrData)}">
                            <div class="members-list-member-name" th:text="${usrData.fioData}"></div>
                            <div class="members-list-member-position" th:text="${usrData.position}"></div>
                            <div th:class="${(usrData.gosServant && !usrData.hasDebts && usrData.abroadable) ? 'members-list-member-status success' : 'members-list-member-status error'}"></div>
                            <div class="members-list-member-tooltip">
                                <div class="members-list-member-tooltip-wrapper">
                                    <div class="members-list-member-tooltip-content">
                                        <div class="member-check">
                                            <div class="member-check-item correct">
                                                <div class="member-check-item-title">Ф.И.О</div>
                                                <div class="member-check-item-value" th:text="${usrData.fioData}"></div>
                                            </div>
                                            <div class="member-check-item correct">
                                                <div class="member-check-item-title">Должность</div>
                                                <div class="member-check-item-value" th:text="${usrData.position}"></div>
                                            </div>
                                            <div th:class="${usrData.abroadable ? 'member-check-item correct' : 'member-check-item error'}">
                                                <div class="member-check-item-title">Выездной</div>
                                                <div class="member-check-item-value">-</div>
                                            </div>
                                            <div th:class="${!usrData.hasDebts ? 'member-check-item correct' : 'member-check-item error'}">
                                                <div class="member-check-item-title">Долги</div>
                                                <div class="member-check-item-value">-</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="members-list-member-tooltip-triangle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="#" method="POST">
                        <div class="input-group">
                            <label for="tripCharacterFieldId">Характер поездки</label>
                            <input type="text" readonly id="tripCharacterFieldId"
                                   th:value="${businessTrip.tripCharacter}" name="trip_character"/>
                        </div>
                        <div class="input-group" id="trip-purposes">
                            <label>Цель визита</label>
                            <input th:each="purpose : ${businessTrip.businessTripPurposes}" type="text"
                                   readonly name="trip_purpose"
                                   th:value="${purpose.purpose}">
                        </div>
                        <div class="input-group">
                            <label for="tripProofFieldId">Основание</label>
                            <input readonly type="text" class="form-control bg-light" id="tripProofFieldId"
                                   th:value="${businessTrip.businessTripProof}" name="trip_proof"
                                   placeholder="Основание" />
                        </div>
                    </form>
                </div>
                <div class="section-body-container bottom-border">
                    <form action="#" method="POST">
                        <div class="input-group" id="routes">
                            <label for="route">Маршрут</label>
                            <input th:each="routeData : ${businessTripRouteDataList}" th:value="${routeData.businessTripRoute.routeName}" type="text" placeholder="Введите маршрут" name="routes" id="route" />
                        </div>
                        <div class="input-group-multiple">
                            <div class="input-group-multiple-title">Даты</div>
                            <div class="input-group-multiple-list">
                                <div class="input-group-multiple-item" th:each="routeData : ${businessTripRouteDataList}">
                                    <label for="date" th:text="${'Маршрут ' + (businessTripRouteDataList.indexOf(routeData)  + 1)}"> </label>
                                    <input th:value="${routeData.dateFrom}" type="date" name="date" id="date" />
                                    <input type="date" name="date2" id="date2" />
                                </div>
                            </div>
                        </div>
                        <div class="input-group-multiple">
                            <div class="input-group-multiple-title">Время</div>
                            <div class="input-group-multiple-list">
                                <div class="input-group-multiple-item">
                                    <label for="time">Маршрут 1</label>
                                    <input type="time" name="time" id="time" />
                                </div>
                                <div class="input-group-multiple-item">
                                    <label for="time2">Маршрут 2</label>
                                    <input type="time" name="time2" id="time2" />
                                </div>
                            </div>
                        </div>

                        <div class="input-group-multiple">
                            <div class="input-group-multiple-title">Дни прибывания</div>
                            <div class="input-group-multiple-list">
                                <div class="input-group-multiple-item">
                                    <label for="day">Маршрут 1</label>
                                    <input type="text" name="day" id="day" placeholder="3 дня" />
                                </div>
                                <div class="input-group-multiple-item">
                                    <label for="day2">Маршрут 2</label>
                                    <input type="text" name="day2" id="day2" placeholder="8 дней" />
                                </div>
                            </div>
                        </div>
                        <div class="input-group-multiple">
                            <div class="input-group-multiple-title">Оплата</div>
                            <div class="input-group-multiple-list">
                                <div class="input-group-multiple-item">
                                    <label for="every-day">Суточные</label>
                                    <div class="select-wrapper">
                                        <select type="text" name="every-day" id="every-day">
                                            <option disabled selected>Выберите сумму</option>
                                            <option>100000</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input-group-multiple-item">
                                    <label for="one-day">Один день</label>
                                    <div class="select-wrapper">
                                        <select type="text" name="one-day" id="one-day">
                                            <option disabled selected>Выберите сумму</option>
                                            <option>100000</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-group">
                            <label for="living">Проживание</label>
                            <div class="select-wrapper">
                                <select name="living" id="living">
                                    <option disabled selected>Выбрать</option>
                                    <option>Проживание</option>
                                </select>
                            </div>
                        </div>

                        <div class="input-group">
                            <label for="transport">Транспорт</label>
                            <div class="select-wrapper">
                                <select name="transport" id="transport">
                                    <option disabled selected>Выбрать</option>
                                    <option>Транспорт</option>
                                </select>
                            </div>
                        </div>

                        <div class="input-group" id="cities">
                            <label for="city">Города посещения</label>
                            <input readonly th:each="cit : ${businessTrip.businessTripCities}" type="text" placeholder="Введите данные"
                                   th:value="${cit.cityName}" name="cities" id="city" />
                        </div>
                        <div class="input-group-checkbox">
                            <input type="checkbox" id="president" th:checked="${businessTrip.isOfficialDelegationWithPresident}" onclick="return false"/>
                            <label for="president">Официальная поездка делигации во главе президента</label>
                        </div>

                        <div class="input-group">
                            <div class="input-group-inline">
                                <label for="textfield">Обоснование сроков нахождения</label>
                                <div class="input-group-characters-count">
                                    <span id="textfield-characters">0</span> / <span id="textfield-max"></span> символов
                                </div>
                            </div>
                            <textarea
                                    readonly
                                    th:text="${businessTrip.businessTripTermProof}"
                                    name="textfield"
                                    id="textfield"
                                    cols="30"
                                    rows="10"
                                    placeholder="Введите данные"
                                    maxlength="1000"
                                    data-characters-counter
                                    data-characters-count-id="textfield-characters"
                                    data-characters-max-id="textfield-max"
                            ></textarea>
                        </div>

                        <h2 class="heading">Забронированные билеты</h2>
                        <div class="input-group-file">
                            <div class="col-sm-8" th:if="${businessTrip.ticketFile != null}">
                                <a class="btn btn-primary btn-sm"
                                   th:href="@{'/downloadticket/' + ${businessTrip.ticketFile}}">Скачать
                                    билеты</a>
                            </div>
                            <div class="col-sm-8" th:if="${businessTrip.ticketFile == null}">
                                <a class="btn btn-secondary btn-sm" readonly="true"> Билеты не прикреплены</a>
                            </div>
<!--                            <input type="file" name="file" id="file" />-->
<!--                            <label for="file">Загрузить файл</label>-->
                        </div>


                        <div class="input-group">
                            <label for="transport-type">Тип паспорта</label>
                            <div class="select-wrapper">
                                <select name="transport-type" id="transport-type">
                                    <option value="1" th:selected="${businessTrip.passportType == 1}">
                                        Дипломатический
                                    </option>
                                    <option value="2" th:selected="${businessTrip.passportType == 2}">Служебный
                                    </option>
                                    <option value="3" th:selected="${businessTrip.passportType == 3}">Обычный
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="input-group">
                            <label for="visa">Виза</label>
                            <div class="select-wrapper">
                                <select name="visa" id="visa">
                                    <option disabled selected>Выбрать</option>
                                    <option>Виза</option>
                                </select>
                                <input readonly type="checkbox" onclick="return false" value="true"
                                       style="margin-right:10px;" id="visaCheckBoxId"
                                       th:checked="${businessTrip.isVisa}">
                            </div>
                        </div>

                        <div class="input-group">
                            <label for="counsil">Консульские сборы</label>
                            <input type="text" id="counsil" name="counsil" placeholder="Введите данные" />
                        </div>

                        <div class="input-group">
                            <label for="program-name">Название программы</label>
                            <div class="select-wrapper">
                                <select name="program-name" id="program-name">
                                    <option disabled selected>Выбрать</option>
                                    <option>Название программы</option>
                                </select>
                            </div>
                        </div>

                        <h1 class="heading">Выбор мероприятий</h1>
                        <div class="filter">
                            <div class="filter-form">
                                <div class="input-group">
                                    <label for="organization">Организация</label>
                                    <div class="select-wrapper">
                                        <select id="organization" name="organization">
                                            <option selected disabled>Все</option>
                                            <option>Организация</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="input-group">
                                    <label for="start-data">Дата запуска (начало)</label>
                                    <input type="date" id="start-data" name="start-data" />
                                </div>

                                <div class="input-group">
                                    <label for="end-data">Дата запуска (конец)</label>
                                    <input type="date" id="end-data" name="end-data" />
                                </div>

                                <div class="input-group">
                                    <label for="process-state">Состояние процесса</label>
                                    <div class="select-wrapper">
                                        <select id="process-state" name="process-state">
                                            <option selected disabled>Все</option>
                                            <option>Состояние процесса</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="input-group">
                                    <label for="user">Пользователь</label>
                                    <div class="select-wrapper">
                                        <select id="user" name="user">
                                            <option selected disabled>Все</option>
                                            <option>Пользователь</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="input-multiple-group">
                                    <label for="year1">Годы</label>
                                    <div class="input-multiple-group-wrapper">
                                        <input type="text" name="year1" id="year1" placeholder="год 1" maxlength="4" size="4" />
                                        <input type="text" name="year2" id="year2" placeholder="год 2" maxlength="4" size="4" />
                                        <input type="text" name="year3" id="year3" placeholder="год 3" maxlength="4" size="4" />
                                    </div>
                                </div>

                                <div class="input-group">
                                    <label for="limit-from">Лимит (от)</label>
                                    <input type="text" id="limit-from" name="limit-from" placeholder="Введите сумму" />
                                </div>

                                <div class="input-group">
                                    <label for="limit-to">Лимит (до)</label>
                                    <input type="text" id="limit-to" name="limit-to" placeholder="Введите сумму" />
                                </div>

                                <div class="input-group">
                                    <label for="status">Статус</label>
                                    <div class="select-wrapper">
                                        <select id="status" name="status">
                                            <option selected disabled>Любой</option>
                                            <option>Статус</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="input-group">
                                    <label for="search">&nbsp;</label>
                                    <div class="search-wrapper">
                                        <input type="search" name="search" id="search" placeholder="Поиск по таблице" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div
                                    class="drop-down"
                                    data-dropdown
                                    data-dropdown-closed-text="Открыть таблицу"
                                    data-dropdown-opened-text="Закрыть таблицу"
                            >
                                <div class="drop-down-text">Открыть таблицу</div>
                                <div class="drop-down-content">
                                    <div class="table-container">
                                        <table class="stripped">
                                            <thead>
                                            <tr>
                                                <th class="text-align-cener"><input type="checkbox" disabled /></th>
                                                <th>Организация</th>
                                                <th class="text-align-cener">Запуск</th>
                                                <th>Годы</th>
                                                <th>Состояние процесса</th>
                                                <th>Пользователь</th>
                                                <th>Статус</th>
                                                <th>Лимиты</th>
                                                <th>Просмотр</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="proc: ${mainProcesses}">
                                                <td class="text-align-cener"><input type="checkbox" /></td>
                                                <td th:text="${proc.gosOrganization.name}"></td>
                                                <td class="text-align-cener">
                                                    <span class="text-grey">с</span>
                                                    <span th:text="${#dates.year(proc.createdAt) + '.' + #dates.month(proc.createdAt) + '.' + #dates.day(proc.createdAt)}"></span>
                                                    <br />
                                                    <span class="text-grey">по</span>
                                                    <span th:text="${#dates.year(proc.createdAt) + '.' + #dates.month(proc.createdAt) + '.' + #dates.day(proc.createdAt)}"></span>
                                                </td>
                                                <td><span th:text="${proc.firstYear + '-' + proc.secondYear + '-' + proc.thirdYear}"></span></td>
                                                <td th:text="${proc.stageName}"></td>
                                                <td th:text="${proc.stageRole}"></td>
                                                <td th:text="${proc.statusText}"></td>
                                                <td th:text="${proc.initialLimitValue + '-' + proc.limitValue}"></td>
                                                <td>
                                                    <a th:href="@{'/processdetails/' + ${proc.id}}" class="link">Детали</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn primary">Заменить</button>
                    </form>
                </div>
                <div class="section-body-container padding-y-big">
                    <div class="btn-group align-right big-margin">
                        <button class="btn">Отмена</button>
                        <button class="btn outline">На исправление</button>
                        <button class="btn outline" th:if="${T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_REPORTER == businessTrip.stage}">
                            <a th:href="@{'/zayavitelgo/completebusinesstrip/' + ${businessTrip.id}}">Редактировать</a>
                        </button>
                        <button class="btn primary">Подписать</button>
                        <button class="btn success">Сохранить</button>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
</html>









<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-10">
                                <h5>Заявление на заграничную командировку</h5>
                            </div>
                            <div class="col-sm-2"
                                 th:if="${T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_REPORTER == businessTrip.stage}">
                                <a th:href="@{'/zayavitelgo/completebusinesstrip/' + ${businessTrip.id}}"
                                   class="btn btn-info btn-sm float-right">Изменить</a></td>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="height:500px;overflow:auto;">
                        <div class="row mt-3">
                            <div class="col-sm-12">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            Ф.И.О.
                                        </th>
                                        <th>
                                            Должность
                                        </th>
                                        <th>
                                            Гос. служащий
                                        </th>
                                        <th>
                                            Выездной
                                        </th>
                                        <th>
                                            Наличие долгов
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="usrData : ${userDataList}">
                                        <td>
                                            <span th:text="${usrData.fioData}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${usrData.position}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${usrData.gosServant?'Да':'Нет'}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${usrData.abroadable?'Да':'Нет'}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${usrData.hasDebts?'Да':'Нет'}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-sm-3">
                                <label class="mt-1">Характер поездки</label>
                            </div>
                            <!--                            <div class="col-sm-8">-->
                            <!--                                <input type="text" readonly class="form-control bg-light"-->
                            <!--                                       id="tripCharacterFieldId"-->
                            <!--                                       th:value="${businessTrip.tripCharacter}" name="trip_character"-->
                            <!--                                       placeholder="Характер поездки">-->
                            <!--                            </div>-->
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-3">
                                <label class="mt-1">Цель визита</label>
                            </div>
                            <div class="col-sm-8">
                                <!--                                <input th:each="purpose : ${businessTrip.businessTripPurposes}" type="text"-->
                                <!--                                       readonly-->
                                <!--                                       class="form-control bg-light" name="trip_purpose"-->
                                <!--                                       th:value="${purpose.purpose}">-->
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-3">
                                <label class="mt-1">Основание</label>
                            </div>
                            <div class="col-sm-8">
                                <!--                                <input readonly type="text" class="form-control bg-light" id="tripProofFieldId"-->
                                <!--                                       th:value="${businessTrip.businessTripProof}" name="trip_proof"-->
                                <!--                                       placeholder="Основание">-->
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-3">
                                <label class="mt-1">Маршрут</label>
                            </div>
                            <div class="col-sm-8">
                                <input readonly type="text" class="form-control bg-light"
                                       style="background-color: white;"
                                       th:if="${#lists.isEmpty(businessTripRouteDataList)}">
                                <div th:each="routeData : ${businessTripRouteDataList}"
                                     style="margin-bottom: 5px;">
                                    <input readonly type="text" class="form-control bg-light"
                                           style="background-color: white;"
                                           th:value="${routeData.businessTripRoute.routeName}">
                                    <div class="row mt-2">
                                        <div class="col-sm-4">
                                            <label class="mt-1">Период</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input readonly type="text" style="background-color: white;"
                                                   class="form-control"
                                                   th:value="${'С ' + #dates.format(routeData.dateFrom, 'dd-MM-yyyy') + ', ' + routeData.timeFrom + ' по ' + #dates.format(routeData.dateTo, 'dd-MM-yyyy') + ' ' + routeData.timeTo}">
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-sm-4">
                                            <label class="mt-1">Количество дней</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input readonly type="number" class="form-control"
                                                   th:value="${routeData.daysAmount}"
                                                   th:id="${'routeDataDays' + routeData.id}">
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-sm-12">
                                            <input readonly type="checkbox" onclick="return false"
                                                   style="margin-right:10px;"
                                                   th:id="${'routeDataDaily' + routeData.id}"
                                                   th:checked="${routeData.daily}">
                                            <label>Суточные</label>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-sm-12">
                                            <input readonly type="checkbox" onclick="return false"
                                                   style="margin-right:10px;"
                                                   th:id="${'routeDataOneDay' + routeData.id}"
                                                   th:checked="${routeData.oneDay}">
                                            <label>Один день</label>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-sm-12">
                                            <input readonly type="checkbox" onclick="return false"
                                                   style="margin-right:10px;"
                                                   th:id="${'routeDataResidence' + routeData.id}"
                                                   th:checked="${routeData.residence}">
                                            <label>Проживание</label>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-sm-12">
                                            <input readonly type="checkbox" onclick="return false"
                                                   style="margin-right:10px;"
                                                   th:id="${'routeDataTransport' + routeData.id}"
                                                   th:checked="${routeData.transport}">
                                            <label>Транспорт</label>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-3">
                                <label>Города посещения</label>
                            </div>
                            <div class="col-sm-8">
                                <input readonly type="text" class="form-control bg-light"
                                       style="background-color: white;"
                                       th:if="${#lists.isEmpty(businessTrip.businessTripCities)}">
                                <div th:each="cit : ${businessTrip.businessTripCities}"
                                     style="margin-bottom: 5px;">
                                    <input readonly type="text" class="form-control bg-light"
                                           style="background-color: white;" th:value="${cit.cityName}">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12">
                                <input readonly type="checkbox" onclick="return false" value="true"
                                       style="margin-right:10px;" id="officialPresidentDelegationCheckBoxId"
                                       th:checked="${businessTrip.isOfficialDelegationWithPresident}">
                                <label>Официальная поездка делегации во главе Президента</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12">
                                <input readonly type="checkbox" onclick="return false" value="true"
                                       style="margin-right:10px;" id="inviterExpenseCheckBoxId"
                                       th:checked="${businessTrip.isAtTheExpenseOfInvitingParty}">
                                <label>За счёт средств приглашающей стороны</label>
                            </div>
                        </div>
                        <div class="row mt-3">
<!--                            <div class="col-sm-12">-->
<!--                                <input readonly type="checkbox" onclick="return false" value="true"-->
<!--                                       style="margin-right:10px;" id="visaCheckBoxId"-->
<!--                                       th:checked="${businessTrip.isVisa}">-->
<!--                                <label>Виза</label>-->
<!--                            </div>-->
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-3">
                                <label class="mt-1">Обоснование сроков нахождения</label>
                            </div>
                            <div class="col-sm-8">
                                        <textarea readonly style="width: 100%;" rows="5"
                                                  placeholder="Не менее 1000 символов" class="form-control bg-light"
                                                  id="tripTermProofFieldId"
                                                  th:text="${businessTrip.businessTripTermProof}"
                                                  name="trip_proof"></textarea>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-3">
                                <label class="mt-1">Забронированные билеты</label>
                            </div>
                            <div class="col-sm-8" th:if="${businessTrip.ticketFile != null}">
                                <a class="btn btn-primary btn-sm"
                                   th:href="@{'/downloadticket/' + ${businessTrip.ticketFile}}">Скачать
                                    билеты</a>
                            </div>
                            <div class="col-sm-8" th:if="${businessTrip.ticketFile == null}">
                                <a class="btn btn-secondary btn-sm" readonly="true"> Билеты не прикреплены</a>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-3">
                                <label class="mt-1">Тип паспорта</label>
                            </div>
                            <div class="col-sm-8">
                                <select disabled class="form-control bg-light" name="passport_type"
                                        id="passportTypeSelectorId">
                                    <option value="1" th:selected="${businessTrip.passportType == 1}">
                                        Дипломатический
                                    </option>
                                    <option value="2" th:selected="${businessTrip.passportType == 2}">Служебный
                                    </option>
                                    <option value="3" th:selected="${businessTrip.passportType == 3}">Обычный
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-3">
                                <label class="mt-1">Название программы: </label>
                            </div>
                            <div class="col-sm-6">
                                <input readonly type="checkbox" onclick="return false" value="true"
                                       class="mr-1 mt-1" id="isForeign005CheckBoxId"
                                       th:checked="${businessTrip.isForeign005}">
                                <label class="mt-1">005 «Заграничные командировки»</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-3">
                                <label class="mt-1">Выбор мероприятий: </label>
                            </div>
                            <div class="col-sm-6">
                                <input readonly type="radio" onclick="return false" value="true"
                                       th:checked="${businessTrip.isEventPlan != null && businessTrip.isEventPlan}"
                                       class="mr-1 mt-2" name="plan_choice_name" id="by_plan_id">
                                <label class="mt-1">«По плану мероприятий»</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-6 offset-3">
                                <input readonly type="radio" onclick="return false" value="true"
                                       th:checked="${businessTrip.isEventPlan != null && !businessTrip.isEventPlan}"
                                       class="mr-1 mt-2" name="plan_choice_name" id="by_without_plan_id">
                                <label class="mt-1">«Вне плана мероприятий»</label>
                            </div>
                        </div>
                        <div id="by_without_plan_div_id"
                             th:style="${businessTrip.isEventPlan == null || businessTrip.isEventPlan ? 'display : none;' : 'display : block;'}">
                            <div class="row mt-3">
                                <div class="col-sm-3">
                                    <label class="mt-1">Обоснование</label>
                                </div>
                                <div class="col-sm-8">
                                            <textarea readonly style="width: 100%;" rows="5"
                                                      placeholder="Не менее 1000 символов" class="form-control bg-light"
                                                      id="withoutEventProofFieldId"
                                                      th:text=${businessTrip.withoutEventProof}
                                                      name="without_event_proof"></textarea>
                                </div>
                            </div>
                            <div class="row mt-3" th:if="${businessTrip.proofFile != null}">
                                <div class="col-sm-2 offset-3">
                                    <a class="btn btn-primary btn-sm"
                                       th:href="@{'/downloadwithouteventproof/' + ${businessTrip.proofFile}}">Скачать
                                        обоснование</a>
                                </div>
                            </div>
                        </div>
                        <div th:style="${businessTrip.isEventPlan == null || !businessTrip.isEventPlan ? 'display : none;' : 'display : block;'}"
                             id="by_plan_div_id">
                            <div class="row mt-3">
                                <div class="col-sm-3">
                                    <label class="mt-1">Выбор плана мероприятии</label>
                                </div>
                                <div class="col-sm-8">
                                    <table class="table" style="width:100%;">
                                        <thead>
                                        <tr>
                                            <th colspan="2">
                                                Организация
                                            </th>
                                            <th>
                                                Дата запуска
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="mainProcess : ${mainProcesses}">
                                            <td>
                                                <input readonly
                                                       th:checked="${businessTrip.process!=null && businessTrip.process.id == mainProcess.id}"
                                                       type="radio" onclick="return false" name="plan_id"
                                                       th:id="'event-' + ${mainProcess.id}">
                                            </td>
                                            <td th:text=${mainProcess.organization.name}>
                                            </td>
                                            <td th:text=${mainProcess.createdAt}>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-3">
                                <label class="mt-1">Политический исполнитель</label>
                            </div>
                            <div class="col-sm-8">
                                <input th:if="${businessTrip.executor != null}" readonly type="text"
                                       class="form-control bg-light"
                                       th:value="${businessTrip.executor.firstName} + ' ' + ${businessTrip.executor.middleName}">
                            </div>
                        </div>
                        <hr>
                        <div class="mb-3" th:if="${businessTrip.attachment6Created != null}">
                            <a href="#">Приказ</a>
                        </div>
                        <hr>
                        <div class="row mt-3"
                             th:if="${passportRequest != null && passportRequest.stage == T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).PASSPORT_REQUEST_REPORTER_TOOK}">
                            <div class="col-sm-3">
                                <form th:action="@{'/zayavitelgo/createadvanceaccount'}" method="post"
                                      th:if="${advanceAccount == null}">
                                    <input type="hidden" name="business_trip_id" th:value="${businessTrip.id}">
                                    <button class="btn btn-primary btn-sm"
                                            onclick="if(!confirm('Оформить авансовый счет?')){return false}">
                                        Оформление авансого счета
                                    </button>
                                </form>
                                <a th:href="@{'/zayavitelgo/readadvanceaccount/' + ${advanceAccount.id}}"
                                   class="btn btn-primary btn-sm" th:if="${advanceAccount != null}">Перейти к
                                    авансному счету</a>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-primary btn-sm">Возврат средств</button>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-primary btn-sm">Возмещение средтств</button>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-primary btn-sm">Штраф за срочную визу</button>
                            </div>
                        </div>
                        <div class="form-group mt-3"
                             th:if="${T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_REPORTER == businessTrip.stage}">
                            <form th:action="@{'/zayavitelgo/signbusinesstrip'}" method="post"
                                  id="signBusinessTripFormId">
                                <input type="hidden" name="business_trip_id" th:value="${businessTrip.id}">
                                <button class="btn btn-flat btn-primary"
                                        onclick="if(!confirm('Подписать?')){return false}">Подписать
                                </button>
                            </form>
                        </div>
                        <div class="form-group mt-3" th:if="${
                            T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_ORDERED == businessTrip.stage
                            && passportRequest == null
                            }">
                            <form th:action="@{'/zayavitelgo/createpassportrequest'}" method="post">
                                <input type="hidden" name="business_trip_id" th:value="${businessTrip.id}">
                                <button class="btn btn-flat btn-primary"
                                        onclick="if(!confirm('Создать заявку на оформление паспорта?')){return false}">
                                    Оформить паспорт
                                </button>
                            </form>
                        </div>
                        <div class="form-group mt-3" th:if="${
                            T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_ORDERED == businessTrip.stage
                            && passportRequest != null
                            }">
                            <button class="btn btn-flat btn-primary" disabled>Заявка на создание паспорта
                                создана
                            </button>
                        </div>
                        <button disabled class="btn btn-flat btn-primary"
                                th:if="${T(kz.bitlab.robygroup.sppmid.core.config.StaticConfig).BUSINESS_TRIP_REPORTER != businessTrip.stage}">
                            Подписано
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>