<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main.html">
<div layout:fragment="content">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" class="header-link breadcrumb-item-link">Главная</a>
            </li>
            <li class="breadcrumb-item active">
                <p>План мероприятий</p>
            </li>
        </ul>
        <div class="filter">
            <form class="filter-form" action="#" method="GET">
                <div class="input-group">
                    <label for="organization">Организация</label>
                    <div class="select-wrapper">
                        <select id="organization" name="organization">
                            <option selected disabled>Все</option>
                            <option>Организация</option>
                        </select>
                    </div>
                </div>

                <div class="input-group">
                    <label for="start-data">Дата запуска (начало)</label>
                    <input type="date" id="start-data" name="start-data" />
                </div>

                <div class="input-group">
                    <label for="end-data">Дата запуска (конец)</label>
                    <input type="date" id="end-data" name="end-data" />
                </div>

                <div class="input-group">
                    <label for="process-state">Состояние процесса</label>
                    <div class="select-wrapper">
                        <select id="process-state" name="process-state">
                            <option selected disabled>Все</option>
                            <option>Состояние процесса</option>
                        </select>
                    </div>
                </div>

                <div class="input-group">
                    <label for="user">Пользователь</label>
                    <div class="select-wrapper">
                        <select id="user" name="user">
                            <option selected disabled>Все</option>
                            <option>Пользователь</option>
                        </select>
                    </div>
                </div>

                <div class="input-group">
                    <label for="status">Статус</label>
                    <div class="select-wrapper">
                        <select id="status" name="status">
                            <option selected disabled>Любой</option>
                            <option>Статус</option>
                        </select>
                    </div>
                </div>

                <div class="input-multiple-group">
                    <label for="year1">Годы</label>
                    <div class="input-multiple-group-wrapper">
                        <input type="text" name="year1" id="year1" placeholder="год 1" maxlength="4" size="4" />
                        <input type="text" name="year2" id="year2" placeholder="год 2" maxlength="4" size="4" />
                        <input type="text" name="year3" id="year3" placeholder="год 3" maxlength="4" size="4" />
                    </div>
                </div>

                <div class="input-group">
                    <label for="limit-from">Лимит (от)</label>
                    <input type="text" id="limit-from" name="limit-from" placeholder="Введите сумму" />
                </div>

                <div class="input-group">
                    <label for="limit-to">Лимит (до)</label>
                    <input type="text" id="limit-to" name="limit-to" placeholder="Введите сумму" />
                </div>
            </form>
        </div>
        <div class="caption">
            <h1 class="caption-title">План мероприятий</h1>
            <div class="btn-group">
                <button class="btn outline">Объединить</button>
                <a th:href="@{'/createprocess'}" class="link"><button class="btn primary">Создать процесс</button></a>
            </div>
        </div>
        <div class="table-container">
            <table class="stripped">
                <thead>
                <tr>
                    <th class="text-align-cener"><input type="checkbox" disabled /></th>
                    <th>Организация</th>
                    <th class="text-align-cener">Запуск</th>
                    <th>Годы</th>
                    <th>Состояние процесса</th>
                    <th>Пользователь</th>
                    <th>Статус</th>
                    <th>Лимиты</th>
                    <th>Просмотр</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="proc: ${processList}">
                    <td class="text-align-cener"><input type="checkbox" /></td>
                    <td th:text="${proc.gosOrganization.name}"></td>
                    <td class="text-align-cener">
                        <span class="text-grey">с</span>
                        <span th:text="${#dates.year(proc.createdAt) + '.' + #dates.month(proc.createdAt) + '.' + #dates.day(proc.createdAt)}"></span>
                        <br />
                        <span class="text-grey">по</span>
                        <span th:text="${#dates.year(proc.createdAt) + '.' + #dates.month(proc.createdAt) + '.' + #dates.day(proc.createdAt)}"></span>
                    </td>
                    <td><span th:text="${proc.firstYear + '-' + proc.secondYear + '-' + proc.thirdYear}"></span></td>
                    <td th:text="${proc.stageName}"></td>
                    <td th:text="${proc.stageRole}"></td>
                    <td th:text="${proc.statusText}"></td>
                    <td th:text="${proc.initialLimitValue + '-' + proc.limitValue}"></td>
                    <td>
                        <a th:href="@{'/processdetails/' + ${proc.id}}" class="link">Детали</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</html>