<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main.html">
<div layout:fragment="content">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" class="header-link breadcrumb-item-link" th:text="#{label.mainPage}">Главная</a>
            </li>
            <li class="breadcrumb-item active">
                <p th:text="#{label.profile.login}"></p>
            </li>
        </ul>
        <section>
            <form th:action="@{'/auth/login'}" method="post">
                <div class="input-group">
                    <label th:text="#{label.iin}"></label>
                    <input type="text" th:placeholder="#{label.iin}" name="user_login"/>
                </div>
                <div class="input-group">
                    <label th:text="#{label.password}"></label>
                    <input type="text" th:placeholder="#{label.password}"
                           name="user_password">
                </div>
                <div class="input-group">
                    <div>
                        <button type="submit"
                                class="btn primary"
                                th:text="#{label.login}"></button>
                    </div>
                </div>
                <input type="hidden" name="@{_csrf.parameterName}"
                       value="@{_csrf.token}"/>
            </form>
        </section>
    </div>
</div>
</html>