<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main.html">
<div layout:fragment="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3 class="m-0 text-dark"><small>Восстановление пароля</small></h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a th:href="@{'/'}">Главная</a></li>
                        <li class="breadcrumb-item active">Восстановление пароля</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Восстановление пароля</h5>
                        </div>
                        <div class="card-body">
                            <div class="col-sm-6 offset-3">
                                <form th:action="@{'/repasswordFinal/' + ${email}}" method="post">
                                    <label>
                                        Введите новый пароль
                                    </label>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" placeholder="Новый пароль"
                                               name="password">
                                    </div>
                                    <label>
                                        Подтвердите новый пароль
                                    </label>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" placeholder="Подтвердите новый пароль"
                                               name="repassword">
                                    </div>
                                    <button class="btn btn-flat btn-success">
                                        Изменить пароль
                                    </button>
                                    <input type="hidden" name="@{_csrf.parameterName}" value="@{_csrf.token}"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>